.grow-layout {
  display: flex;
  flex-direction: column;
}

.grow-layout__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grow-layout__content {
  flex: 1 0 auto;
  display: flex;
}

.grow-layout__content--direction-column {
  flex-direction: column;
}
