/**
 *  Add "sticky" class to the direct parent element wrapping the div you wish to expand
 *  Add "sticky__content" class to the element you wish to expand to take up the remaining space on the page.
 *
 *  <div class=sticky">
 *
 *    <header></header>
 *    <div class="sticky__content"></div>
 *    <footer></footer>
 *
 *  </div>
 */

.sticky {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sticky__content{
  flex: 1 0 auto;
}